
.Section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
@media screen and (max-width:1200px){
   h2 {
    font-size: 1.5em;
  }
}
@media screen and (max-width:768px){
   h2 {
    font-size: 1em;
  }
 }
 @media screen and (max-width:500px){
  .CurrencyConverter {
      display:flex;
  }
  .Section div:nth-child(2){
    margin:0;
    display: flex;
    flex: auto;
  }
}
