.Feedback {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  padding-right: 100px;
}
.Feedback textarea {
  font-size: 30px;
  word-break: break-all;
}
i {
  display: block;
  color: white;
  align-self: flex-end;
  padding-right: 5px;
}
h3 {
  color: white;
  align-self: center;
}
.InputGroup {
  display: flex;
  justify-content: space-between;
}
.InputGroup div {
  width: 95%;
}
.InputGroup i {
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding-top: 50px;
  height: 30px;
}
.InputGroup i:hover {
  color: rgb(143, 113, 113);
}
