.SignIn{
  width:100%;
  display: flex;
  justify-content:center;
}
.btnSection{
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
 a{
  color: black;
}