.Feedback {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  
}
.Feedback textarea {
  font-size: 30px;
  word-break: break-all;
}
i {
  display: block;
  color: white;
  align-self: flex-end;
  padding-right: 5px;
}
h3 {
  color: white;
  align-self: center;
}
