.MainPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

@media screen and (max-width: 1200px) {
  .MainPage {
    width: auto;
    display: flex;

   
    flex-wrap: wrap;
  }
}
