.Slide {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.Slide a,
.Slide p,
.Slide h1 {
  color: #fff;
  padding-left: 3rem !important;
  margin-bottom: 20px;
  white-space: pre-line;
  text-decoration: none;
}
.Slide a:hover {
  color: #762214;
}
.Slide a{
 align-self: flex-end;
 justify-self: end;
 padding: 1rem !important;
 margin-top: 50px;
 font-size:1.5rem;
}
.Slide h1 {
  font-size: 3em;
}
.counter {
  align-self: flex-end;
  font-size: 1.5em;
  padding: 1.5rem !important;
}
.information {
  font-size: 2rem;
}
